/* Reset */
*{
  Box-sizing:Border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  Background:linear-gradient(135deg,#667eea,#764ba2);
}

/* Card */
.card{
  width:350px;
  Background:#fff;
  padding:30px;
  Border-radius:14px;
  Box-shadow:0 12px 35px rgba(0,0,0,.2);
  animation:fade .6s ease;
}

/* Animation */
@keyframes fade{
  from{opacity:0; transform:translateY(-20px);}
  to{opacity:1; transform:translateY(0);}
}

h2{
  text-align:center;
  margin-bottom:15px;
  color:#333;
}

/* Inputs */
input{
  width:100%;
  padding:12px;
  margin:10px 0;
  Border-radius:8px;
  Border:1px solid #ccc;
  transition:.3s;
  font-size:14px;
}

input:focus{
  Border-color:#667eea;
  Box-shadow:0 0 6px rgba(102,126,234,.4);
  outline:none;
}

/* Button */
button{
  width:100%;
  padding:12px;
  Border:none;
  Border-radius:8px;
  Background:linear-gradient(135deg,#667eea,#5a67d8);
  color:white;
  font-weight:600;
  cursor:pointer;
  transition:.3s;
}

button:hover{
  transform:translateY(-2px);
  Box-shadow:0 6px 18px rgba(0,0,0,.2);
}

/* Error */
.error{
  color:red;
  font-size:13px;
}

/* Success */
.success{
  color:green;
  Text-align:center;
  margin-top:10px;
  font-size:14px;
}

/* Password hint */
.hint{
  font-size:12px;
  margin-top:-6px;
}

/* Link */
.link{
  Text-align:center;
  margin-top:12px;
}

.link a{
  COLOR:#667eea;
  Text-decoration:none;
  font-weight:600;
}

.link a:hover{
  Text-decoration:underline;
}

/* Responsive */
@media(max-width:420px){
  .card{
    Width:90%;
    padding:22px;
  }
}
button{
  color: aqua;
}